* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /*cursor: url(assets/cursor36.png) 18 18, auto;*/
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  

a {
    text-decoration: none;
    color: inherit;
}

body {
    overflow: hidden;
    transition: .3s ease;
    background-color: #111111;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}

.name h1 {
    position: fixed;
    top: 1vh;
    left: 2vh;

    line-height: 65px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: white;

    cursor: pointer;
}

#kirk {
    font-size: 77px;
}

.circ-box {
    position: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
}

.circ-box:hover {
    z-index: 5;
}

.circle {
    position: relative;

    border-radius: 50%;
    background-color: rgb(49,145,231);
    box-shadow: inset -25px -15px 40px rgba(0,0,0,0.7), 0px 0px 30px 7px rgba(255, 255, 255, 0.16);
    background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);

    display:flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#c0 {
    background-color: #E08E45;
}

#c1 {
    background-color: rgb(49,145,231);
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    background-image: none;
}

#p1 {
    position: absolute;
    width: 40%;
    height: 40%;
    top: 0;
    left: 0;

    background-color: rgb(49,145,231);
    z-index: -10;
}

#p2 {
    position: absolute;
    width: 60%;
    height: 60%;
    bottom: 0;
    right: 0;

    background-color: rgb(146, 231, 49);
    z-index: -10;
}

#c2 {
    background-color: #D62246;
}

#c3 {
    background-color: #33CA7F;
}

.info-panel {
    display: none;
    position: absolute;
    left: -40px;
    
    transform: translateX(-100%);

    height: 250px;
    width: 400px;

    color: white;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 100;

    padding: 20px;

    overflow: hidden;
}

.info-panel h1 {
    margin-bottom: 20px;

}

.info-panel p {
    font-size: 20px;
}

.highlight {
    color: #42caf0;
}

.circle:hover .info-panel {
    display: initial;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.selector {
    display: none;

    position: absolute;
    width: 105%;
    height: 105%;

    background:
        linear-gradient(to right, #00aede 4px, transparent 4px) 0 0,
        linear-gradient(to right, #00aede 4px, transparent 4px) 0 100%,
        linear-gradient(to left, #00aede 4px, transparent 4px) 100% 0,
        linear-gradient(to left, #00aede 4px, transparent 4px) 100% 100%,
        linear-gradient(to bottom, #00aede 4px, transparent 4px) 0 0,
        linear-gradient(to bottom, #00aede 4px, transparent 4px) 100% 0,
        linear-gradient(to top, #00aede 4px, transparent 4px) 0 100%,
        linear-gradient(to top, #00aede 4px, transparent 4px) 100% 100%;

    background-repeat: no-repeat;
    background-size: 20% 20%;
}

.circle:hover .selector {
    display: initial;
}

.label {
    position: absolute;
    bottom: -10px;
    width: 200px;

    transform: translateY(100%);

    color: white;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 25px;
    font-weight: 300;

}

.glass {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(129, 129, 124, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.2);

    z-index: 3;
}

.glass * {
    text-shadow: 5px 7px 5px rgba(0,0,0,.3);
}

.glass :is(h1, h2, h3) {
    text-shadow: 5px 7px 10px rgba(0,0,0,.3);
}

@keyframes bob {
    from {top: 0%;}
    to {top: 10%;}
}

@keyframes bobTrans {
    from {transform: translateY(0%);}
    to {transform: translateY(20%);}
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

.stars {
    background:#000 url(assets/stars.png) repeat top center;
    z-index:-3;
}
  
.twinkling{
    background:transparent url(assets/twinkling.png) repeat top center;
    z-index:-2;
  
    animation: move-twink-back 200s linear infinite;
}

.close {
    position: fixed;
    top: 3vh;
    right: 3vh;
    width: 75px;

    cursor: pointer;
}