* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  

a {
    text-decoration: none;
    color: inherit;
}

body {
    overflow-x: hidden;
    transition: .3s ease;
    background-color: #111111;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.glass {
    background: rgba(255,255,255,0.2);
    box-shadow: 0 8px 32px 0 rgba(129, 129, 124, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 1vw;
    border: 1px solid rgba(255,255,255,0.2);

    z-index: 2;
}

.glass p, .glass h1 {
    text-shadow: 5px 7px 5px rgba(0,0,0,.3);
}

.name {
    position: fixed;
    top: 1vh;
    left: 3vh;

    font-family: 'Poppins', sans-serif;
    font-size: 3vh;

    color: white;

    cursor: pointer;

    transition: opacity .5s ease;
}

.left-panel {
    position: fixed;
    top: 0;
    left: 15vw;

    display: flex;
    flex-direction: column;

    transition: top .75s ease;
}

.info {
=======
.container {
    background-image: linear-gradient(to left, #434343 0%, black 100%);
>>>>>>> parent of 0f51e13 (Second attempt)
    height: 100vh;
    display:flex;
    overflow: hidden;
}

.card-selector {
    padding-left: 100px;
    align-self: center;
    height: 600px;
    width: 1100px;
    display: flex;
    justify-content: center;
<<<<<<< HEAD
    align-items: center;

    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.photo {
    position: absolute;
    top: 121vh;
    left: 2vw;;

    width: 15vw;
    padding: 2%;
    border-radius: 10%;

    z-index: 3;

    background: rgba(255,255,255,0.05) !important;
    backdrop-filter: blur(2px) !important;
    -webkit-backdrop-filter: blur(2px) !important;
}

.photo img {
    width: 100%;
    border-radius: 10%;
}

.aboutme {
    position: absolute;
    top: 140vh;
    left: 8vw;

    height: 40vh;
    width: 30vw;
}

.aboutme h1 {
    position: relative;
    left: 9vw;
    margin: 1.5vh;

    font-family: 'Poppins', sans-serif;
    font-size: 5vh;
    color: rgb(7, 102, 255);
}

.aboutme p {
    font-size: 2.2vh;
    font-weight: 100;
    margin: 2vh;
}

.projects {
    perspective: 8000px;
    text-align: center;
}

.project {
    position: absolute;
    top: 25vh;
    left: 2.5vw;
    transform: translateY(-50%);
    width: 30vw;
    height: 30vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform-origin: -30vw;
    animation: swivel 1.5s ease infinite alternate;
}

@keyframes swivel {
    from {transform: rotate3D(0, 1, 0, -90deg);}
    to {transform: rotate3D(0, 1, 0, 0deg);}
}

.project h1 {
    margin-bottom: 2vh;
    font-size: 5vh;
}

.project img {
    height: 11vw;

    border: 7px solid white;
    border-radius: 10px;

    box-shadow: 5px 7px 5px 1px rgba(0,0,0,0.3);
}

.project p {
    margin-top: 2vh;
}

.resume-box {
    width: 35vw;
    height: 45vw;

    perspective: 1500px;

=======
}

.image-border {
>>>>>>> parent of 0f51e13 (Second attempt)
    display: flex;
    align-self: center;
    justify-content: center;
<<<<<<< HEAD
    align-items: center;
}

.resume-box img {
    height: 70vh;

    opacity: 1;

    border-radius: 0.5%;
    box-shadow: 0 10px 10px 5px rgba(0,0,0,0.4);
}

#download {
    position: absolute;
    left: 17.5vw;
    top: 390vh;

    transform: translateX(-50%);
    transition: color .2s ease, opacity .2s ease;

    font-size: 3vh;
    font-weight: 100;
}

#download:hover {
    color: rgb(26, 189, 75);
}

#download img {
    height: 3vh;
    width: 3vh;

    transition: filter .2s cubic-bezier(0,1.06,.51,.85);
}

#download:hover img {
    filter: brightness(0) saturate(100%) invert(50%) sepia(59%) saturate(643%) hue-rotate(85deg) brightness(103%) contrast(90%);
}

.contact h1 {
    margin: 5vh 0;

    font-size: 5vh;
    font-weight: 100;
=======
    height: 330px;
    width: 330px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    transform: rotateZ(-10deg);
    z-index: 1;
>>>>>>> parent of 0f51e13 (Second attempt)
}

.image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    align-self: center;
    transform: rotateZ(10deg);
    z-index: 2;
}

.card {
    position: relative;
    left: -100px;
    height: 225px;
    width: 600px;
    background-color: rgb(240, 240, 240);
    align-self: center;
    border-radius: 25px;
    padding-left: 125px;
}

.card h1 {
    margin-top: 50px;;
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
}

.card p {
    font-family: 'Space Mono', monospace;
    font-size: 35px;
}

.content {
    width:70vw;
    display: flex;
    justify-content: center;
}

.column {
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    transform: rotateZ(-10deg) translateX(10vw) translateY(-10vh);
    width: 50vw;
    height: 120vh;
    box-shadow: 0px 0px 20px 10px rgb(30,30,30);
}

<<<<<<< HEAD
.navbar {
    position: absolute;
    right: 2%;
    top: 5%;
=======
.nav {
    transform: rotateZ(10deg) translateY(20vh);
>>>>>>> parent of 0f51e13 (Second attempt)
}

.nav-list {
    height: 90vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(230, 230, 230);
    font-family: 'Fjalla One', sans-serif;
    font-size: 120px;
    padding: 50px;
    padding-right:0px;
    display: block;
    transition: all .15s ease;
}

.nav-list li {
    transform: translateX(-225px);
}

<<<<<<< HEAD
.nav li:hover a {
    color: white !important;
    -webkit-text-stroke-width: 0px;
    transform: rotate3d(0, 1, 0, -10deg) skew(0, 5deg);
}

.circle {
    position: fixed;

    border-radius: 50%;
    background-color: rgb(49,145,231);
    box-shadow: inset -25px -15px 40px rgba(0,0,0,0.3);
    background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);

    z-index: -1;
}

@keyframes bob {
    from {transform: translateY(0%);}
    to {transform: translateY(10%);}
=======
li:hover a {
    transform: scale(1.15, 1.15);
    color:rgb(255, 255, 255);
>>>>>>> parent of 0f51e13 (Second attempt)
}