* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  

a {
    text-decoration: none;
    color: inherit;
}

body {
    overflow-x: hidden;
    transition: .3s ease;
    background-color: #111111;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.name {
    position: fixed;
    top: 1vh;
    left: 3vh;

    font-family: 'Poppins', sans-serif;
    font-size: 3vh;

    color: white;

    cursor: pointer;

    transition: opacity .5s ease;
}

.left-panel {
    position: fixed;
    top: 0;
    left: 15vw;

    display: flex;
    flex-direction: column;

    transition: top .75s ease;
}

.info {
    height: 100vh;
    width: 35vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.card {
    width: 30vw;
    height: 30vw;

    background: rgba(255,255,255,0.25);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 1vw;
    border: 1px solid rgba(255,255,255,0.2);

    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h1 {
    margin-bottom: 2vh;
    font-size: 5vh;
    text-shadow: 5px 7px 5px rgba(0,0,0,.3);
}

.card img {
    height: 11vw;

    border: 7px solid white;
    border-radius: 10px;

    box-shadow: 5px 7px 5px 1px rgba(0,0,0,0.3);
}

.card p {
    margin-top: 2vh;
    text-shadow: 5px 7px 5px rgba(0,0,0,.3);
}

.circle {
    position: fixed;

    border-radius: 50%;
    background-color: rgb(49,145,231);
    box-shadow: inset -25px -15px 40px rgba(0,0,0,0.3);
    background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);

    z-index: -1;
}

#c1 {
    top: 50vh;
    left: 45vw;

    width: 10vw;
    height: 10vw;
}

#c2 {
    top: 25vh;
    left: 15vw;

    width: 5vw;
    height: 5vw;
}

.resume-box {
    width: 35vw;
    height: 45vw;

    perspective: 1500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume-box img {
    height: 70vh;

    opacity: 1;

    border-radius: 0.5%;
    box-shadow: 0 10px 10px 5px rgba(0,0,0,0.4);
}

#download {
    position: absolute;
    left: 17.5vw;
    top: 390vh;

    transform: translateX(-50%);
    transition: color .2s ease, opacity .2s ease;

    font-size: 3vh;
    font-weight: 100;
}

#download:hover {
    color: rgb(26, 189, 75);
}

#download img {
    height: 3vh;
    width: 3vh;

    transition: filter .2s cubic-bezier(0,1.06,.51,.85);
}

#download:hover img {
    filter: brightness(0) saturate(100%) invert(50%) sepia(59%) saturate(643%) hue-rotate(85deg) brightness(103%) contrast(90%);
}

.contact h1 {
    margin: 5vh 0;

    font-size: 5vh;
    font-weight: 100;
}

.contact img {
    height: 20vw;
    width: 20vw;

    object-fit: cover;
    border-radius: 50%;
}

.icons {
    display: flex;
    justify-content: space-evenly;

    width: 20vw;
}

.icon-box {
    height: 9vh;
    width: 7vh;
    margin: 3vh 0;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.icon-box img {
    height: 7vh;
    width: 7vh;

    border-radius: 0;

    transition: margin-bottom .5s ease;
    margin-bottom: 0;
}

.icon-box:hover img {
    margin-bottom: 2vh;
}

.navbar {
    position: absolute;
    right: 5%;
    top: 5%;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
}

.nav li {
    margin: -25px 0px;

    perspective: 800px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 20vh;

    transform: skew(0, -20deg);
}

.nav li a {
    display: inline-block;

    transition: .3s ease;
    transform-origin: right;
    transform: rotate3d(0, 1, 0, -30deg);

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;

    cursor: pointer;
}

.nav li:hover a {
    color: white !important;
    -webkit-text-stroke-width: 0px;
    transform: rotate3d(0, 1, 0, -10deg) skew(0, 5deg);
}